
.bestSellers{
    margin: 1.5rem 5rem 0 5rem;
     
    .top{
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        align-items: center;


        h1{
            flex: 2;
            text-transform: capitalize;
            color: white;

        }

        p{
            flex: 3;
            color: white;

        }
    }

    .bottom{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}