.about{
    background: url("../../../public/img/about.png");
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
  

    .content{
        align-items: center;
    }
}